@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
:root{
    --font-family: 'Source Sans Pro', sans-serif;
    --theme-color:#008ed6;

}

*,body{
  font-family:var(--font-family);
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
  color:#737373;
  font-size: 14px;
}

a{
  text-decoration: none;
}


img{
  max-width: 100%;
}


.navbar {

    padding-top: 20px;
    padding-bottom: 20px;
    background: #000;
}

.navbar-brand span{
      font-size: 24px;
      color:#fff;
      text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
     font-size: 16px;
     font-weight: 500;
     padding: 7px 15px !important;
     margin:0 2px;
     text-transform: capitalize;
     transition: .3s ease-in-out;
     position: relative;
}
.navbar-light .navbar-nav .nav-link:after{
        content: "";
        width:60px;
        height:3px;
        background-color:#008ed6;
        position: absolute;
        top:45px;
        left:15px;
        display:none;
        animation:rubber 1s;
}
@keyframes rubber{
  from{
    width:5px;
  }
  to{
    width:60px;
  }
}
.navbar-light .navbar-nav .nav-link:hover:after{
  display: block;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

/******banner start******/
.banner{
     background-image: url(images/banner.png);
     background-size: cover;
     background-position:center;
     padding: 80px 0 0; 
}
.banner-content{

  padding: 0 106px 0 0px;
}
.banner-content span{

  font-size: 14px;
  display: block;
  color: var(--theme-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.banner-content h1{
  font-size: 48px;
  color: #fff;
  font-family: times new rom;
  padding:30px 0;
}
.banner-content p{

  font-size: 18px;
  color: #999999;
  line-height: 30px;
  padding-bottom: 60px;
}
.button{

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 13px 20px;
  margin-right: 20px;
  border: 1px solid transparent;
}
.btn-custom{
    background-color: var(--theme-color);
    transition: all .5s ease-in-out;
  
}
.btn-custom:hover{
      background-color:transparent;
      border: 1px solid #4d4e53;
      color:#fff;
}
.btn-custom-reverse{
      border: 1px solid #4d4e53;
      transition: all .5s ease-in-out;

}
.btn-custom-reverse:hover{
      background-color: var(--theme-color);
      color:#fff;
      border: 1px solid transparent;
}
.banner-img{
    display: block;
    margin: auto;
}
/*****banner end*****/
/****************feature start****************/
.feature{
     padding: 80px 0;
}
.feature-content{
     text-align: center;
}
.feature-content strong{
     font-size: 14px;
     display: block;
     color: var(--theme-color);
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 2px;
}
.feature-content h2{
     font-size: 36px;
     color: #1a1a1a;
     font-family: times new rom;
     padding:10px 0 18px;

}
.feature-content span{
        width:60px;
        height:3px;
        background-color:#008ed6;
        display: block;
        margin: auto;
}
.feature-box{
    text-align: center;
    padding: 0 28px;
    margin-top: 100px;
}
.feature-box i{
    font-size: 28px;
    color:var(--theme-color);
    width:70px;
    height: 70px;
    line-height: 70px;
    position: relative;
}
.feature-box i:after{
     content: "";
     display: block;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     border: 1px solid #9999997d;
     border-radius: 50%;
}
.feature-box h3{
      font-size: 24px;
      color:#1a1a1a;
      padding: 30px 0 15px;
}
.feature-box p{
     font-size: 18px;
     color:#999999;
     line-height: 25px;
}
/****************feature end****************/
/****************device start****************/
.device{
   padding: 80px 0;
}
.device-img{
  display: block;
  margin: auto;
}
.device-content{
     text-align: left; 
     padding:50px 90px 0 0; 
}
.device-content span{
    margin:0;
}
.device-content h2{

}
.device-content p{
   font-size: 18px;
   color:#999;
   margin:30px 0 40px;
}
.device-content ul li i{

  color: var(--theme-color);
  font-size: 18px;

}
.device-content ul li h6{

  display: inline-block;
  padding: 5px 10px;
  color: #1a1a1a;
  font-size: 18px;
}

/****************device end****************/
/****************customize start****************/
.customize{
     background-color: #f2f2f2;
     padding: 60px 0;
}
.customize-content{
     padding: 50px 41px 0 0;

}
/****************customize end****************/
/****************testimonial start****************/
.testimonial{
  padding: 80px 0;
  background-image: url(images/t-banner.png);
  background-size: cover;
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 0;
    padding-bottom: 0;
    color: #0f0c0c;
   
   
}

.carousel-item{
  min-height:410px;
}

.test-img{
  position: relative;
  display: inline-block;
}

.test-img i{
  width: 40px;
  height: 40px;
  line-height: 35px;
  background: var(--theme-color);
  color: #fff;
  border:4px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: -20px;
}

.carousel-control-prev-icon{
         background-image: url();
         color:#fff;
}
.carousel-control-next-icon{
         background-image: url();
         color:#fff;
}

.carousel-caption h3{
  font-size:16px;
  margin: 20px 0 10px;
  font-weight: 600;

}

.carousel-caption h6{
  font-size:14px;
  color:var(--theme-color);
  text-transform: uppercase;

}
.t-content h2{
   color:#fff;
}
.t-box{

}
.t-box p{
  font-size: 20px;
  margin: 60px 0;
  color:#fff;
  font-style: italic;
}
.t-box span{
     font-size: 16px;
     text-transform: capitalize;
     color:#fff;
     display: block;
     text-align: left;
}
.t-box h5{
     font-size: 14px;
     text-transform: uppercase;
     color:#fff;
     

     text-align: left;
     font-weight: 600;
}
/****************testimonial end****************/
/****************like start****************/
.like{
  background-color: #000;
  padding: 50px 0;
}
.like-content h2{
      font-size: 36px;
      color:#fff;
      font-family:var(--font-family);
      font-weight:300;
}
.like-content span{
      font-weight: 400;
      font-family:times New Rom;
}
/****************like end****************/
/****************price start****************/
.price{
  padding: 80px 0;
}
.card{
  margin-top: 70px;

}
.card-header{
      font-size: 24px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      background-color: #fff;
      transition: all .5s ease-in-out;
}
.card-title{
        font-size: 48px;
        font-family: times new rom;
        text-align: center;
        transition: all .5s ease-in-out;
}
.card-text{
       font-size: 18px;
       color:#999;
       text-align: center;
      
}
.card-body {
    padding:25px 0;
    transition: all .5s ease-in-out;
}
.card-body p{
     transition: all .5s ease-in-out;
}
.card-body strong{
     font-size: 22px;
}
.card-footer{
  background-color: #fff;
}
.card-footer p{
     padding: 31px;
}
.card-footer span{
     color:var(--theme-color);
}

.price-btn{

  color: var(--theme-color);
  border: 1px solid #999;
  padding: 9px 25px;
  display: table;
  margin: 10px auto 25px;
}

.card:hover .card-header{
      color:var(--theme-color);
} 

.card:hover .card-body{
    background-color: var(--theme-color)
} 
.card:hover .card-body p{
       color:#fff; 
} 
.card:hover .card-title{
       color:#fff;
} 
.card:hover .price-btn{
      background-color: var(--theme-color);
      color:#fff;
      border: 1px solid transparent;
}
/****************price end****************/
/****************contact start****************/
.contact{
  background-color: #ededed;
  padding: 80px 0 0;
}
.contact-top{
  text-align: center;
  /*! padding-top: 50px; */
  padding: 50px 0 70px;
}
.contact-top ul li i{
      font-size: 25px;
      color:var(--theme-color);
      margin-bottom:10px;
}
.contact-top ul li span{
       font-size: 18px;
       color:#999;

}
.contact-form{
  background-color: #000 !important;
  padding: 50px 80px 40px;
  margin-bottom:-60px;

}
.form-control {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #999;
    background-color: transparent;
    border: 1px solid #999;
    margin: 29px 0;
}
.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #999;
    outline: 0;
    box-shadow: 0 0 0 transparent;
}
.contact-btn{
    margin: auto; 
    padding: 12px 25px;
}
.contact-bottom{
  
}

/****************contact end****************/
/****************footer start****************/
.footer{
     background-color: #000;
     padding:50px 0 40px;
}

.footer-content ul{
  text-align: centere;
}
.footer-content ul li{
  display: inline-block;
}
.footer-content ul li a{
  font-size: 20px;
  color: #444348;
  padding: 0 15px;
  transition: all .3s ease-in-out;
  
}
.footer-content ul li a:hover{
    color:var(--theme-color);
}
.footer-content p{
    font-size: 14px;
    color:#444348;
    font-family: times new rom;
    text-transform: uppercase;
}
/****************footer end****************/



       
       
       
